@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500&display=swap");

:root {
  --background: rgb(28, 26, 26);
  --green: rgb(35, 179, 129);
}

body {
  background-color: var(--background);
  font-family: "Archivo Black", sans-serif;
}

header {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid var(--green);
}

h1 {
  color: var(--green);
}

#nav_bar_toggle_button {
  display: none;
}

#due_today {
  background-color: rgb(35, 191, 136);
}

#due_this_week {
  background-color: rgb(40, 189, 167);
}

#due_this_month {
  background-color: rgb(35, 171, 201);
}

#add_group {
  margin: auto;
  border: 2px solid black;
  font-family: "Libre Franklin", sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--green);
  width: 8em;
  border-radius: 2em;
}

#add_group_plus_sign {
  margin-right: 1em;
}
