:root {
  --background: rgb(28, 26, 26);
}

body {
  background-color: var(--background);
}

header {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

#nav_bar_toggle_button {
  position: fixed;
  bottom: 1em;
  right: 1em;
  background-color: transparent;
  border: none;
}

.fa-align-justify {
  color: white;
}

h1 {
  color: rgb(30, 196, 138);
}
