@media screen and (max-width: 450px) and (max-height: 850px) {
  header {
    margin: 1em;
  }

  .fa-align-justify {
    position: relative;
    font-size: 2em;
  }

  h1 {
    position: relative;
    left: 1em;
    font-size: 2em;
  }
}
