:root {
  --green: rgb(35, 179, 129);
}

@media (min-width: 320px) and (max-width: 767px) {
  h1 {
    font-size: 2em;
  }

  #nav_container {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    display: none;
  }

  #due_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #due_heading {
    color: var(--green);
    font-size: 1.5em;
    text-decoration: none;
    margin-bottom: 1em;
  }

  #hamburger_menu_button {
    background: transparent;
    border: none;
    display: block;
    position: fixed;
    bottom: 2em;
    right: 2em;
  }

  .fa-align-justify {
    color: var(--green);
    font-size: 3em;
  }

  .time_periods {
    width: 95vw;
    text-align: center;
    padding: 0.5em;
  }

  #group_container {
    margin-top: 2em;
  }

  #group_heading {
    text-align: center;
    color: var(--green);
    font-size: 1.5em;
    text-decoration: none;
    margin-bottom: 1em;
  }

  #add_group {
    padding: 0.5em;
  }
}
