:root {
  --green: rgb(35, 179, 129);
}

@media (min-width: 768px) {
  main {
    display: flex;
  }

  h1 {
    font-size: 5em;
  }

  #nav_container {
    background-color: var(--green);
    position: relative;
    height: calc(100vh - 125px);
    min-height: 700px;
    width: 15em;
  }

  #due_container {
    padding-top: 1em;
    display: flex;
    flex-direction: column;
  }

  #due_heading {
    font-size: 2em;
    text-align: center;
    margin-bottom: 0.5em;
  }

  .time_periods {
    padding: 1em;
  }

  .time_periods:hover {
    text-indent: 2em;
  }

  #group_container {
    margin-top: 5em;
  }

  #group_heading {
    font-size: 2em;
    text-align: center;
    margin-bottom: 0.5em;
  }

  #task_group_container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 10em;
    width: 15em;
  }

  .nav_bar_group {
    text-indent: 1em;
    padding: 0.25em;
  }

  .individual_group_heading {
    width: 15em;
    font-size: 1em;
  }

  .nav_bar_group:hover {
    text-indent: 2em;
  }

  #add_group {
    /* margin-top: 1em; */
    background-color: black;
    color: var(--green);
    font-size: 1.15em;
    padding: 0.55em;
    width: 10em;
  }

  #add_group:hover {
    color: black;
    background-color: var(--green);
  }

  #add_group_plus_sign {
    font-size: 1.5em;
  }

  #add_group_form {
    width: 10em;
    margin: auto;
    padding: 0.75em;
    border: 1px solid black;
    border-radius: 1.5em;
    background-color: black;
  }

  #add_group_input {
    text-indent: 0.25em;
    font-size: 1.2em;
    width: 5.5em;
    background-color: var(--green);
    border: none;
  }

  input:focus {
    outline: none;
  }

  #submit_group_icon {
    cursor: grab;
    font-size: 1em;
    color: rgb(31, 121, 31);
  }

  #cancel_group_icon {
    cursor: grab;
    font-size: 1em;
    color: rgb(181, 40, 40);
  }

  .tasks_container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    height: calc(100vh - 125px);
    min-height: 700px;
    width: calc(100vw - 15em);
    overflow: auto;
  }

  .task {
    margin: 1em;
    border: 1px solid white;
    width: 5em;
    height: 5em;
  }
}
