:root {
  --green: rgb(35, 179, 129);
  --top: 6em;
}

@media (min-width: 768px) {
  h1 {
    font-size: 5em;
  }

  #nav_container {
    background-color: var(--green);
    position: absolute;
    top: var(--top);
    left: 0;
    height: calc(100vh - var(--top));
    width: 10em;
  }

  #due_container {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
  }

  .time_periods {
    padding: 1em;
  }

  .time_periods:hover {
    text-indent: 2em;
  }

  #group_container {
    margin-top: 10em;
  }

  #add_group {
    background-color: black;
    color: var(--green);
    font-size: 1em;
    padding: 0.55em;
    width: 10em;
  }

  #add_group:hover {
    color: black;
    background-color: var(--green);
  }

  #add_group_plus_sign {
    font-size: 1.5em;
  }
}
